Flask==3.0.3
google-ai-generativelanguage==0.6.2
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.1.0
googleapis-common-protos==1.63.0
gunicorn==22.0.0
requests==2.31.0
python-dotenv==1.0.1